[submodule "002basic/018-uniswapv1-foundry/lib/forge-std"]
	path = 002basic/018-uniswapv1-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "002basic/018-uniswapv1-foundry/lib/openzeppelin-contracts"]
	path = 002basic/018-uniswapv1-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
